* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  a {
    color: black;
  }

  body {
    background-color: white;
  }
  
  .img5, .img5_text {
    width: 1000px;
    height: 150px;
    margin: 50px auto;
    border : 1px solid black;
    display : flex;
    justify-content: space-between;
  }

  .img5 li, .img5_text li {
    width : 18%; height:100%;
    border: 1px solid blue;
  }
  .img5_text li {
    height: 30px;
    margin-top:-50px;
    border: 1px solid #ccc;
  }
  